*{
	padding:0;
	margin:0;
	list-style: none;
}

ul,ol{
	overflow:hidden;
}


html,body{
	width:100%;
	height:100%;	
	overflow:hidden;
}

body,input,textarea{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
	font-size:12px;
	line-height:14px;
}

.clearfix{
	clear:both;
}

.loading{
	background-image:url(../img/loading.gif) !important;
	background-repeat:no-repeat !important;
	background-position:50% 50% !important;
}

.mask{
	filter: alpha(opacity=0);
	-moz-opacity:0;
	opacity: 0;	
}

.moveable-mask{
	cursor:move;
	width:100%;
	height:100%;
	display:block;
	z-index:999;
}

#wrapper{
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
	background:#575757 url(../img/bg.jpg) repeat;	
}
.button{
	cursor:pointer;
}	

#window{
	width:950px;
	height:600px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-300px;
	margin-left:-475px;
	background:#eeeeee;
	overflow:hidden;
}

.shadow{
	-moz-box-shadow:0px 0px 15px #333333;
	-webkit-box-shadow:0px 0px 15px #333333;
	box-shadow:0px 0px 15px #333333;
}

.round{
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	border-radius:5px;	

}


#top-bar{
	position:relative;
}

#title-bar{
	dis@play:none;
	display:block;
	width:100%;
	height:24px;
	overflow:hidden;
	cursor:move;
	clear:both;
	position:relative;
}

#logo-icon{
	display:none;
	width:24px;
	height:24px;
	background:#000;
	disp/lay:block;
	float:left;
}
	
#text-menu{
	display:none;	
	position:absolute;
	top:0;
	left:0;
	
}
#text-menu ul{
	cursor:default;
	height:24px;
	width:245px;
}
#text-menu ul li{
	float:left;
	padding:4px;
	line-height:16px;
}


#browser-name{
	background:transparent;
	font-weight:bold;
	position:absolute;
	width:60px;
	margin-left:-30px;
	top:0;
	left:50%;
	z-index:1;
}

#nav-bar{
	o/verflow:hidden;
	position:relative;
	display:block;
	width:100%;
	height:40px;
	t/ext-align:center;
}
	
#nav-bar ul{
}

#nav-bar li{
	float:left;
	display:inline;
}
#nav-bar li div{
}		


	
#nav-uni{
	position:absolute;
	top:0px;
	left:50%;
	z-index:2;
	margin-left:-155px;
	width:310px;
	text-align:left;
}		
	
#nav-buttons{
	width:320px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
	height:37px;
	overflow:hidden;	
	background:#B2B2B2;
}

#nav-apps{
	width:320px;
	position:absolute;
	top:0;
	right:0;
	z-index:1;
	height:37px;
	overflow:hidden;	
	background:#B2B2B2;	
}
	
	
#window-control{
	position:absolute;
	top:0px;
	right:0px;
	width:72px;
	height:24px;
	z-index:999;
}
#window-control li{
	width:24px;
	height:24px;
	display:block;
	float:left;
	background:transparent;
	overflow:hidden;
}
#window-control div{
	height:100%;
}	
#window-min{

}

#window-normal{
	display:none;
}
	
#window-max{
	
}

#window-close{
	
}



#tabs-bar{

}
#tabs-bar ul{	
	float:left;
}
#tabs-bar li{
	width:8px;
	height:42px;
	float:left;
	display:inline;
	position:relative;
	overflow:hidden;
}
#tabs-bar	li.current-tab{
	width:298px;
}
	


	
	
	

#content{
	display:block;
	height:490px;
	overflow:hidden;
	position:relative;
	background:#fff;
}

#content #content-mask{
	display:none;
	height:100%;
	width:100%;
	position:absolute;
	z-index:999;
	top:0;
	left:0;
}

#content #content-info{
	margin:200px auto;
	width:400px;
	text-align:center;
}
#content #content-info p{
	height:30px;
	line-height:30px;
	font-size:14px;
}

#content #content-info .ui-state-error{
}
#content iframe{
	height:100%;
	width:100%;
	background-color:#fff;
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	display:none;
}	

#bottom-bar{
	position:absolute;
	left:0;
	bottom:0;
}	
	
#bottom-bar #status-bar{
	background-color:#DFDFDF;
	padding:4px;
	bo/rder-top:1px solid #5C6368;
	bo/rder-right:1px solid #5C6368;
	color:#5C6368;
	display:none;
}	
				


/*jquery ui*/
.ui-resizable-se{
	background-color:#fff;
	width:15px !important;
	height:15px !important;
	bottom:0px !important;
	right:0px !important;
	background-position:-80px -224px !important;
}
/*全局*/
span{
	display:none;	
}
/*
.show-span{
	display:block !important;
	font-weight:normal;	
	text-align:center;
	line-height:24px;
	text-shadow:#DDD 0 1px 0;	
}
*/
/*隐藏*/
.hidden{
	display:none;	
}
/*分割线*/
.h-line{
	border-top:1px solid #5C6368;
	border-bottom:1px solid #CDD5DF;
	display:block;
}
/*顶部分割线*/
.h-line-t{
	border-top-width:0px !important;
}
/*底部分割线*/
.h-line-b{
	border-bottom-width:0px !important;
}

/*通用的列表式样*/
.list{
	width:132px;
	position:absolute;
	z-index:999;
	background-color:#B2B2B2 !important;	
}
.list .list-description{
	
	height: 20px;
	line-height: 20px;
	padding-left:10px;

}

.list .list-inner{
	border:1px solid #5C6368;
	border-top:0px;
	overflow:hidden;	
	background:transparent;
}

.list ul{
	width:130px;
	overflow:hidden;	
}

.list li{
	overflow:hidden;	
	width:110px;
	padding:5px 10px;
	cursor:pointer;
	text-align:left;
	float:left;
	co/lor:#333 !important;	
}
.list .onhover{
	color:#FFF !important;	
 	background:transparent url(../img/tabs-bar.png) repeat-x  center center !important;	
}
.list .onclick{
	color:#FFF !important;		
  background:transparent url(../img/tab-active.png) repeat-x center center !important;
}
.list .h-line{
	font-size:0 !important;
	padding:0 10px !important;
	height:0 !important;
}



/*窗体*/
#window{
	background:#B2B2B2;
}


#title-bar{
	background:url(../img/top-bar.png) repeat top left;	
}

/*名字*/
#browser-name{
	width:72px;
	height:24px;
	overflow:hidden;
	background:url(../img/top-bar.png) no-repeat -96px -24px;
	margin-left:-36px;
}

/*窗体控制栏*/
#window-control ul li{
	width:24px;
	height:24px;
	overflow:hidden;
}
/*
#window-control .mouseover{
	background:url(../img/window-control-bg.png) no-repeat center top !important;
}
#window-control .mousedown{
	background:url(../img/window-control-bg.png) no-repeat center -24px !important;
}

#window-control ul li div{
	width:17px;
	height:17px;
	overflow:hidden;
	margin:4px 0 0 4px;
}

#window-min{
	background:url(../img/icon-17.png) no-repeat 0px 0px;
}
#window-control .mousedown	#window-min{
	background:url(../img/icon-17.png) no-repeat 0px -17px;
}
	
#window-normal{
	background:url(../img/icon-17.png) no-repeat -17px 0px;
}
#window-control .mousedown	#window-normal{
	background:url(../img/icon-17.png) no-repeat -17px -17px;
}
		
#window-max{
	background:url(../img/icon-17.png) no-repeat -34px 0px;
}
#window-control .mousedown	#window-max{
	background:url(../img/icon-17.png) no-repeat -34px -17px;
}
	
#window-close{
	background:url(../img/icon-17.png) no-repeat -51px 0px;
}
#window-control .mousedown #window-close{
	background:url(../img/icon-17.png) no-repeat -51px -17px;
}
*/

#window-control ul li div{
	background:url(../img/top-bar.png) no-repeat 0px 0px;
}

#window-min{
	background-position:0px -24px !important;
}
#window-normal{
	background-position:-24px -24px !important;
}
#window-max{
	background-position:-48px -24px !important;
}
#window-close{
	background-position:-72px -24px !important;
}

.max #window-min{
	background-position:0px -48px !important;
}
.max #window-normal{
	background-position:-24px -48px !important;
}
.max #window-max{
	background-position:-48px -48px !important;
}
.max #window-close{
	background-position:-72px -48px !important;
}

/*应用列表*/
#apps-title{
	position:absolute;
	right:0;
	top:0;
	z-index:2;
	width:72px;
	height:24px;
	overflow:hidden;
	display:none;
	background:url(../img/top-bar.png) no-repeat -168px -24px !important;
}
.max #apps-title{
	background-position:-168px -48px !important;
}


/**/
	
#nav-bar .mouseover{
	background:url(../img/nav-bar-bg.png) no-repeat center top !important;
}	
#nav-bar .mousedown{
	background:url(../img/nav-bar-bg.png) no-repeat center -37px !important;
}		

#nav-bar li{
	display:inline;
	wid/th:37px;
	width:20%;
	height:37px;
	border:none;
	overflow:hidden;
}	
	
#nav-bar li div{	
	margin:7px auto;
	display:block;
	width:24px;
	height:24px;
	border:none;
	ove/rflow:hidden;
}


#nav-bar li img{
	width:24px;
	height:24px;
}		

#backward-button{
	background:url(../img/nav-bar-button.png) no-repeat 0px 0px;
}
#nav-bar .mousedown #backward-button{
	background-position:0px -24px !important;
}		
	
#forward-button{
	background:url(../img/nav-bar-button.png) no-repeat -24px 0px;	
}
#nav-bar .mousedown #forward-button{
	background-position:-24px -24px !important;
}		


#refresh-button{
	background:url(../img/nav-bar-button.png) no-repeat -48px 0px;	
}
#nav-bar .mousedown #refresh-button{
	background-position:-48px -24px !important;
}		

#recycler-button{
	background:url(../img/nav-bar-button.png) no-repeat -72px 0px;		
}
#nav-bar .mousedown #recycler-button{
	background-position:-72px -24px !important;
}		

#apps-button{
	background:url(../img/nav-bar-button.png) no-repeat -96px 0px;		
}
#nav-bar .mousedown #apps-button{
	background-position:-96px -24px !important;
}		
	

#option-button{
	background:url(../img/nav-bar-button.png) no-repeat -120px 0px;	
}	
#nav-bar .mousedown #option-button{
	background-position:-120px -24px !important;
}	


#newtab-button{
	background:url(../img/nav-bar-button.png) no-repeat -144px 0px;	
}	
#nav-bar .mousedown #newtab-button{
	background-position:-144px -24px !important;
}	


#nav-uni{
	border:none;
	height:40px;
	width:310px;
	top:0;
	left:50%;
	margin-left:-155px;
	overflow:hidden;
}

.uni-more-normal{
	background:url(../img/nav-uni.png) no-repeat 0px 0px;
}

.uni-more-mouseover{
	background:url(../img/nav-uni.png) no-repeat 0px -50px !important;
}
.uni-more-mousedown{
	background:url(../img/nav-uni.png) no-repeat 0px -100px !important;
}

.uni-sub-normal{
	background:url(../img/nav-uni.png) no-repeat 0px -150px !important;
}
.uni-sub-mouseover{
	background:url(../img/nav-uni.png) no-repeat 0px -200px !important;
}
.uni-sub-mousedown{
	background:url(../img/nav-uni.png) no-repeat 0px -250px !important;
}


#nav-uni #uni-input{
	display:inline;
	float:left;
	width:274px;
	height:30px;
	padding:3px 0 7px;
}

#nav-uni #uni-text{
	outline: 0px;
	width:260px;
	padding:4px 7px 6px 7px;
	line-height:20px;
	height:20px;
	border-width:0;
	font-size:14px;
	background:transparent;
	color:#000;
	bac/kground:#fff;
	display:none;
	
}		

#nav-uni #uni-sub{
	display:none;
}

#nav-uni #uni-button{
	float:left;
	width:36px;
	height:40px;
	background:transparent;
}	





/*回收站列表*/
#recycler-list{
	width:290px;
	height:320px;	
	
}

#recycler-tab-list{
	width:290px;
	height:321px;	
	margin-top:-1px;	
}

/*.recycler-empty{
		background:url(../img/recycler-empty.png) no-repeat right bottom;		
}
.recycler-full{
		background:url(../img/recycler-full.png) no-repeat right bottom;		
}*/

#recycler-tab-list li{
	border-top:1px solid #CDD5DF;
	border-bottom:1px solid  #5C6368;
	width:270px !important;
	margin:0 auto;
}
#recycler-tab-list li div{
	display:none !important;
}

#recycler-tab-list li .tab-title{
	display:block !important;
}



#recycler-latest{
	color:#FFF !important;		
  background:transparent url(../img/tab-active.png) repeat-x center center !important;	
}



#nav-apps ul{
	float:left;
	diplay:inline;
}

#nav-apps-more{	
	width:20%;
}

#nav-apps-more li{	
	width:100% !important;
} 

#nav-apps-list{
	width:80%;
}
#nav-apps-list li{
	width:25%;
	overflow:hidden;
	
}
#nav-apps-list li div{
	cursor:pointer;
}
.bar{
	width: 100%;
	background:url(../img/tabs-bar.png) repeat-x center bottom;
}
.bar ul{
}

.bar ul li{
	font-size:12px;
	float:left;
	text-align:center;
	width:25%;	
	height:32px !important;
	padding:5px 0;
	line-height:16px;
	cursor:pointer;
	position:relative;
}

.bar ul .active{
	background:transparent url(../img/tab-active.png) repeat-x center !important;
}

.bar ul li .ui-icon{
	margin:0 auto;
	padding:0 !important;
}

.bar-text{
	/*display: none;*/
}

#nav-apps-sort{
	float:right;
}
#nav-apps-close{
	flo/at:right;
}

#nav-apps-list-control{
	padding-top:3px;
	position:absolute;
	background:#B2B2B2;
	border:0px solid #5C6368;
	border-left:0px;
	border-top:0px;
}
#nav-apps-list-control ul{
	width:100%;
}
#nav-apps-list-control ul li{
	height:60px;
	overflow:hidden;
	float:left;
	text-align:center;
}

#nav-apps-list-control ul li.ui-sortable-placeholder{
	height:60px;
}

#nav-apps-list-control ul li div{
	position:relative;
	padding:0 2.5px;
	overflow:hidden;
}

#nav-apps-list-control ul li div span{
	display:block;
	width:100%;
	overflow:hidden;
	font-size:12px;
	line-height:18px;
	text-shadow:#DDD 0 1px 0;	
}


/*tabs-bar*/
#tabs-bar{
	background:transparent url(../img/tabs-bar.png) repeat-x;
	height:42px;
	width:100%;
	overflow:hidden;
}


/******************tab*****************/

.tab-header{
	display:none;
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	width:6px;
	height:42px;
	background:url(../img/tab-header.png) no-repeat top right;
}
.tab-header-active{
	background-image:url(../img/tab-header-active.png) !important;
}
.tab-tailer{	
	display:none;
	position:absolute;
	right:0;
	top:0;
	z-index:2;
	width:6px;
	height:42px;
	background:url(../img/tab-tailer.png) no-repeat top left;
}
.tab-tailer-active{
	background-image:url(../img/tab-tailer-active.png) !important;
}

#tabs-bar li{
	
}
#tabs-bar .tab{
	background:url(../img/tab.png) repeat-x top left;
	width:200px;
}

#tabs-bar .current-tab{
	background:url(../img/tab-active.png) repeat-x top left !important;
}

#tabs-bar .tab .tab-column{
	background-color:#4D627F;
	height:36px;
	width:1px;
	z-index:1;
	display:block;
	position:absolute;
	top:3px;
	right:0;
}

#tabs-bar .tab .tab-button{
	height:15px;
	width:15px;
	position:absolute;
	z-index:4;
	top:14px;
	background-color:transparent;
}



#tabs-bar .tab .tab-more{
	background:url(../img/tab-more.png) no-repeat top left;
	left:4px;
	display:none;
	visibility:hidden;
}

.tab-close{
	background:url(../img/tab-close.png) no-repeat top left;
	right:4px;
	display:none;
}

#tabs-bar .current-tab .tab-button{
	display:inline !important;
}

#tabs-bar .tab .tab-row{
	background-color:transparent;
	text-align:center;
	overflow:hidden;
	color:#fff;
	margin:0 auto;
	font-size:12px;	
	height:16px;
	line-height:16px;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}

#tabs-bar .tab .tab-title{
	cursor:default;
	padding-top:13px !important;
}

#tabs-bar .tab .tab-title em{
	font-style:normal
}

#tabs-bar .tab .tab-url{
	color:#aaa;
	display:none;
}

#tabs-bar .current-tab .tab-title{
	padding-top:5px !important;
}

#tabs-bar .current-tab .tab-url{
	display:block !important;
}

#tabs-bar .tab .tab-mask{
	position:absolute;
	top:3px;
	left:0;
	width:100%;
	height:36px;
	z-index:3;
	background:#eee;
	overflow:hidden;
	d/isplay:none;
}		



#uni-text-sug{
	font-size:14px;
	line-height:120%;	
	position:absolute;
	background:#FFFFFF;
	border:1px solid #5C6368;

	width:308px;
	height:290px;
	/*
	overflow-y:scroll;
	overflow-x:hidden;
	*/
	overflow:hidden;
	z-index:10000;/*baisu sug z-index 9999*/
}

#uni-text-sug	a{color:#0066cc;}
#uni-text-sug	img{display:none;}
#uni-text-sug	small{font-size:12px;}	
#uni-text-sug	a em{font-size:14px}
#uni-text-sug	em{font-size:12px;font-style:normal;col/or:#C60A00;color:#0066cc;}
#uni-text-sug 	.reswrap{height:450px;overflow:hidden}
#uni-text-sug	.keyword,.keyword a{col/or:#c60a00;color:#0066cc;}	
#uni-text-sug	.bc{background-color:#D7EBFF;border-top:1px solid #8FBCFF;border-bottom:1px solid #8FBCFF;padding-top:2px;padding-bottom:2px;}
#uni-text-sug	.hr{border-top:1px solid #6699CC;margin:5px 0;}
#uni-text-sug	.b{margin:5px 0;}
#uni-text-sug	.d{margin-bottom:6px;}
#uni-text-sug	.i{margin-bottom:4px;}
#uni-text-sug	.site,.date,.size,.g{color:#008000;padding:0;margin:0;}
#uni-text-sug	.site,.date,.size,.abs{font-size:12px;}
#uni-text-sug	.gray{color:#666666;}
#uni-text-sug	.green{color:#008000}
#uni-text-sug 	.relate,.adv3,.pagenav,.timestamp,.bc,.retlink,.ew,.url,.ca{padding-right:6px;padding-left:6px;}
#uni-text-sug	.ew{padding-top:3px;padding-bottom:3px;}
#uni-text-sug	.relate{padding-bottom:5px;padding-top:5px;background-color:#EFF2FA;line-height:150%;}
#uni-text-sug	.resitem{/*margin:5px 0;*/padding:5px;/*border-bottom:1px solid #DDDDDD;*/overflow:hidden;}	
#uni-text-sug	.adv,.adv2,.adv3{/*margin:5px 0;*/display:none}
#uni-text-sug	.f{padding:5px;}
#uni-text-sug	.tf{border-bottom:1px solid #D7EBFF;}
#uni-text-sug	.bf{}
#uni-text-sug	.pagenav{padding-top:5px;padding-bottom:5px;}
#uni-text-sug	.pagenav{margin:5px 0;}
#uni-text-sug	.retlink{margin-top:4px;}
#uni-text-sug	.timestamp{margin-bottom:2em;}
#uni-text-sug	.abs{line-height:150%;padding-top:5px}
#uni-text-sug	.abs span{display:inline !important;}
/*
#uni-text-sug	#sug_more{float:left;padding:6px;cursor:pointer;}
#uni-text-sug	#sug_close{float:right;padding:6px;cursor:pointer;}
#uni-text-sug #sug_search{display:none}
#uni-text-sug #sug_search li{float:left;padding:6px;cursor:pointer;}
*/


/*nav button*/
#nav-bar ol{
	background:#B2B2B2;
	height:95px;
	border:1px solid #5C6368;
}

#nav-bar ol li{

}






















/*baidu suggestion*/
.bdSug_mo{
 	background:url(../img/tabs-bar.png) repeat-x left -6px !important;
}

.bdSug_wpr{
	width:308px !important;
}

.bdSug_wpr td{
	padding:6px !important;
}






/*logo*/
#sug_baidu{
	background:transparent url('http://img.baidu.com/img/logo.gif') no-repeat center;
}

#sug_google{
	background:transparent url('http://www.google.com.hk/images/google_sm.gif') no-repeat center;
}

#sug_yahoo{
	background:transparent url('http://l.yimg.com/a/i/ww/met/yahoo_logo_us_061509.png') no-repeat center;
}

#sug_youdao{
	background:transparent url('http://shared.ydstatic.com/ox/p/logo-s.png') no-repeat center;
}

#sug_soso{
	background:transparent url('http://cache.soso.com/30d/img/logo/web_result.png') no-repeat center;
}